[Unit]
Description=Daemon of Hera
After=network.target

[Service]
Type=simple
PIDFile=/run/hera-daemon.pid
ExecStart=/usr/local/bin/hera-daemon
OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=17s
User=root
Group=root

[Install]
WantedBy=multi-user.target
