[Unit]
Description=Daemon of Hera
After=network.target

[Service]
Type=simple
PIDFile=/run/hera-daemon.pid
ExecStart=/bin/sh -c '/usr/local/bin/hera-daemon /var/hera/daemon.json'
OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=42s
User=root
Group=root

[Install]
WantedBy=multi-user.target
